{% extends 'base.html' %}
{% block title %}Project{% endblock title %}

{% block content %}
<section class="bg-dark text-light p-4 text-center ">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-center">
            <div class="">
                <h1 class="text-warning">{{ project.title_project }}</h1>
                <p class="lead">
                    <strong>Created by:</strong> {{ project.creator_project }} <strong>|</strong>
                    {{ project.date_created_project }}
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <p class="mt-4 mb-4">{{ project.description_project }}</p>
    </div>
</section>

<hr>
<!-- Columns with the state of todo -->
<section>
    <div class="container">
        <div class="row">
            <!-- box right with links -->
            <div class="col order-last align-self-right">

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            <a class="nav-link link-dark" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">~ Members</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                {% for member in project.members.all %}
                                <li><a class="dropdown-item" href="{% url 'profile_page' member.pk %}">{{ member }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'project_add_member' project.pk %}" id="side-link"
                                class="nav-link link-dark">+
                                Add Member</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'comment_project' project.pk %}" id="side-link" class="nav-link link-dark">+
                                Add Comment</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'todo_create' project.pk %}" id="side-link" class="nav-link link-dark">+
                                Create
                                ToDo</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'project_update' project.pk %}" id="side-link" class="nav-link link-dark">~
                                Update Project</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'project_delete' project.pk %}" id="side-link"
                                class="nav-link link-danger">-
                                Delete Project</a>
                        </li>

                    </ul>

                </div>
            </div>


            <!-- ToDos -->
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <h2>ToDo</h2>
                </div>
                {% for todo in project.todos.all %}
                {% if todo.state_todo == 'Planning' %}
                <div class="list-group">
                    <a href="{% url 'todo_detail' todo.pk %}" class="list-group-item list-group-item-action">
                        <strong>{{ todo.title_todo }}</strong>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                <br />
            </div>

            <div class="col">
                <div class="alert alert-primary" role="alert">
                    <h2>Running</h2>
                </div>
                {% for todo in project.todos.all %}
                {% if todo.state_todo == 'Running' %}
                <div class="list-group">
                    <a href="{% url 'todo_detail' todo.pk %}" class="list-group-item list-group-item-action">
                        <strong>{{ todo.title_todo }}</strong>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                <br />
            </div>

            <div class="col">
                <div class="alert alert-success" role="alert">
                    <h2>Finished</h2>
                </div>
                {% for todo in project.todos.all %}
                {% if todo.state_todo == 'Finished' %}
                <div class="list-group">
                    <a href="{% url 'todo_detail' todo.pk %}" class="list-group-item list-group-item-action">
                        <strong>{{ todo.title_todo }}</strong>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                <br />
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <!-- Comments -->
        {% for comment in comments.all %}
        <div class="card w-50 mt-2 mb-2">
            <div class="card-body">
                <h5 class="card-title">{{comment.title}}</h5>
                <p class="card-text">{{comment.body}}</p>
                <p>By: {{comment.author}} | {{comment.date}}</p>
                <p><a href="{% url 'comment_project_edit' comment.pk  %}">edit</a> | <a
                        href="{% url 'comment_project_delete' comment.pk %}">delete</a></p>
            </div>
        </div>
        <br />
        {% empty %}
        <h2 class="pt-2 pb-2">No comments yet</h2>
        <a href="{% url 'comment_project' project.pk %}" class="btn btn-dark mt-2 mb-2">Write a Comment</a>
        {% endfor %}
    </div>
</section>


{% endblock content %}