{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete{% endblock title %}

{% block content %}
<br/>
<h1>Are you sure you want to delete "{{ project.title_project }}"?</h1>

<form action="" method="post" class="fw-bold">
    {% csrf_token %}
    {{ form|crispy }}
    <br/>
    <button class="btn btn-primary" type="submit">Delete Project</button>
    <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary" role="button">Back To Project</a>
</form>
    

{% endblock content %}