{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<br/>
<h1>{{ project.title_project }}</h1>
<p>{{ project.description_project }}</p>
<p><strong>Created by:</strong> {{ project.creator_project }} <strong>|</strong> {{ project.date_created_project }}</p>
<hr/>

<!-- Columns with the state of todo -->
            
<div class="container">

   
    <div class="row">
            <!-- box right with links -->
        <div class="col-sm order-last align-self-right">
            
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <a class="nav-link link-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">~ Members</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {% for member in project.members.all %}
                            <li><a class="dropdown-item" href="#">{{ member }}</a></li>
                        {% endfor %}    
                    </ul>
                    </li> 
                    <li class="list-group-item">
                        <a href="{% url 'project_add_member' project.pk %}" id="side-link" class="nav-link link-dark">+ Add Member</a>
                    </li> 
                    <li class="list-group-item">
                        <a href="{% url 'todo_create' project.pk %}" id="side-link" class="nav-link link-dark">+ Create ToDo</a>
                    </li>   
                    <li class="list-group-item">
                        <a href="{% url 'project_update' project.pk %}" id="side-link" class="nav-link link-dark">~ Update Project</a>
                    </li> 
                    <li class="list-group-item">
                        <a href="{% url 'project_delete' project.pk %}" id="side-link" class="nav-link link-danger">- Delete Project</a>
                    </li> 
                    
            </ul>

        </div>
    </div>


        <!-- ToDos -->
        <div class="col-sm">
            <div class="alert alert-danger" role="alert">
                <h2>ToDo</h2>
            </div>
            {% for todo in project.todos.all %}
                {% if todo.state_todo == 'Planning' %}
                <div class="list-group">
                    <a href="{% url 'todo_detail' todo.pk %}" class="list-group-item list-group-item-action">
                        {{ todo.title_todo }}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            <br/>
        </div>

        <div class="col-sm">
            <div class="alert alert-primary" role="alert">
                <h2>Running</h2>
            </div>
            {% for todo in project.todos.all %}
                {% if todo.state_todo == 'Running' %}
                <div class="list-group">
                    <a href="{% url 'todo_detail' todo.pk %}" class="list-group-item list-group-item-action">
                        {{ todo.title_todo }}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="col-sm">
            <div class="alert alert-success" role="alert">
                <h2>Finished</h2>
            </div>
            {% for todo in project.todos.all %}
                {% if todo.state_todo == 'Finished' %}
                <div class="list-group">
                    <a href="{% url 'todo_detail' todo.pk %}" class="list-group-item list-group-item-action">
                        {{ todo.title_todo }}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
    <hr>
  </div>
  <br/>
{% endblock content %}
