{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update{% endblock title %}

{% block content %}
<section>
    <div class="container text-center">
        <h1 class="mt-2">Update Project</h1>
    </div>
</section>

<section>
    <div class="container">
        <form method="post" action="" class="fw-bold mt-2">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button class="btn btn-dark" type="submit">Update Project</button>
        </form> 
    </div>
</section>
{% endblock content %}