{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Start Project{% endblock title %}

{% block content %}
<div class="container">
    <div class="mt-2">
        <h1>Start a New Project</h1>
    </div>
    <div>
        <form method="post" action="" class="fw-bold">
            {% csrf_token %}
            {{ form|crispy }}
            <br />
            <button class="btn btn-dark mb-2" type="submit">Create Project</button>
        </form>
    </div>
</div>

{% endblock content %}