{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Members{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="mt-2 text-center">
            <h1>Members</h1>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <form method="post" action="" class="fw-bold mt-2">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button class="btn btn-dark" type="submit">Update Members</button>
        </form>     
    </div>
</section>

{% endblock content %}