{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div style="width: 450px;  margin: 0 auto; padding: 10px;">
            <form method="post" class="fw-bold">
                {% csrf_token %}
                {{ form|crispy }}
                <br/>
                <button class="btn btn-dark" type="submit">Log In</button>
            </form>
            <a href="{% url 'password_reset' %}" role="button">Forgot your password?</a>
        </div>
    </div>
</section>

{% endblock content %}