{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Set New Password{% endblock title %}

{% block content %}
    <center>
    <h1>Enter Your New Password!</h1>
    </center>
    <div style="width: 450px;  margin: 0 auto; padding: 10px;">
        <form method="post" class="fw-bold">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <center>
            <button class="btn btn-primary" type="submit">Change Password</button>
            </center>
        </form>
        <br/>
    </div>
{% endblock content %}