{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}

{% block content %}
{% if user.username == 'testuser' %}
<section>
    <div class="container text-center">
        <h1 class="mt-2">Change My Password</h1>
        <p>Good try, but you have no power here ;)</p>
    </div>
</section>
{% else %}
<section>
    <div class="container text-center">
        <h1 class="mt-2">Change My Password</h1>
        <p>Enter your old password, for security enter your new password twice.</p>
    </div>
</section>

<section>
    <div class="container"></div>
    <div style="width: 450px;  margin: 0 auto; padding: 10px;">
        <form method="post" class="fw-bold">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button class="btn btn-dark" type="submit">Change Password</button>
        </form>
        <br/>
    </div>
</section>
{% endif %}
{% endblock content %}