{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Account{% endblock title %}

{% block content %}

<section>
  <div class="container">
    <!-- Disable password change if 'testuser'-->
    {% if user.username != 'testuser' %}
        <div class="fw-bold mt-2">
      <a href="{% url 'password_change' %}">Change Password</a>
    </div>
    {% endif %}
    <center>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row text-start fw-bold">
          {{form.profile_pic|as_crispy_field}}
          <!-- Disable username if 'testuser'-->
          {% if user.username == 'testuser' %}
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>
          </div>
          {% else %}
          <div class="col mt-2">
            {{form.username|as_crispy_field}}
          </div>
          {% endif %}
          <div class="col mt-2">
            {{form.email|as_crispy_field}}
          </div>
        </div>
        <div class="row text-start fw-bold">
          <div class="col">
            {{form.first_name|as_crispy_field}}
          </div>
          <div class="col">
            {{form.last_name|as_crispy_field}}
          </div>
          {{form.bio_text|as_crispy_field}}
          {{form.facebook_url|as_crispy_field}}
          {{form.twitter_url|as_crispy_field}}
          {{form.instagram_url|as_crispy_field}}
          {{form.website_url|as_crispy_field}}
        </div>
        <center>
          <button type="submit" class="btn btn-primary m-3">Save</button>
        </center>
      </form>
  </div>
  </center>
  </div>
</section>
{% endblock content %}