{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Comment{% endblock title %}

{% block content %}
<section>
    <div class="container text-center">
        <h1 class="mt-2">Are you sure you want to delete "{{ object.title }}"?</h1>
    </div>
</section>

<section>
    <div class="container">
        <center>
        <form action="" method="post" class="fw-bold">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button class="btn btn-danger" type="submit">Delete Comment</button>
            <a href="{% url 'project_detail' object.project.pk %}" class="btn btn-secondary" role="button">Back To Project</a>
        </form>
    </center>
    </div>
</section>
{% endblock content %}