{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ todo.project }}{% endblock title %}

{% block content %}
<section>
  <div class="container text-center">
    <h1 class="mt-2">{{ todo.project }}</h1>
  </div>
</section>

<section>
  <div class="container"></div>
  <center>

    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h4 class="card-title">{{ todo.title_todo }}</h4>
        <p class="card-text">{{ todo.description_todo }}</p>
        <p><strong>By:</strong> {{ todo.creator_todo }} | {{ todo.date_created_todo }}</p>
        <a href="{% url 'todo_update' todo.pk %}" class="card-link">Edit</a>
        <a href="{% url 'todo_delete' todo.pk %}" class="card-link">Delete</a>
        <br />
        <a href="{% url 'project_detail' todo.project.pk %}" class="card-link">Back to project</a>
      </div>
  </center>
  </div>
</section>

{% endblock content %}