{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<br />
<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">A simple Project Manager that lets you create a project and manage tasks togheter with your co-workers
  </p>
  <p class="lead">Login with username "testuser" and password "t3stus3r123" to try the app
  </p>
  <p class="lead">This is my first app so feel free to give feedback and check my GitHub page  <a href="mailto:danieleneroth@gmail.com" ><img class="m-1" src="{% static 'images/envelope.svg'%}" alt="mail" width="20" height="20"></a><a href="https://github.com/eneeroth" target="_blank" rel="noopener noreferrer"><img class="m-1" src="{% static 'images/github.svg'%}" alt="Github" width="20" height="20"></a>
    <a href="https://www.linkedin.com/in/daniel-eneroth-954a72225/" target="_blank" rel="noopener noreferrer"><img class="m-1" src="{% static 'images/linkedin.svg'%}" alt="LinkedIn" width="20" height="20"></a>
  </p>
  <hr class="my-4">
  <p class="lead">See all active projects with the dashboard.
    <img src="{% static 'images/list_projects.PNG' %}" alt="List-Project" class="img-fluid border border-dark rounded">
  </p>
  <hr />
  <p class="lead">Plan, control and manage tasks inside the detail-manager.
    <img src="{% static 'images/detail_project.PNG' %}" alt="detail-Project"
      class="img-fluid border border-dark rounded">
  </p>
  <hr />
  <p class="lead">Create a personal profile page.
    <img src="{% static 'images/profile.PNG' %}" alt="profile-page"
      class="img-fluid border border-dark rounded">
  </p>
  <hr /> 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Get started here!</a>
  </p>
</div>
{% endblock content %}